*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width:0.625rem;
}
::-webkit-scrollbar-track{
    background:white;
}
::-webkit-scrollbar-thumb{
    background: blue;
}
#col{
    box-shadow:0px 0px 20px;
    border-radius:0px 40px 0px 40px;
}
.navbarsection{
    height:5rem;
    line-height: 2rem;
}
.navbarsection .scroll-on{
    position:fixed;
    top:0;
    left:0;
    width:100%;
   box-shadow:5px 0px 10px ;
}

.navbar-nav .nav-item{
    font-size: 20px;
    font-weight: bold;
}
.navbarsection .nav-brand{
    font-size:30px;
    text-transform: uppercase;
    /* text-shadow:2px 2px 2px red; */
    text-shadow: 2px 2px 2px yellow,2px 2px 2px red;
    font-weight: bold;
    color:blue;
}
#brand{
    text-decoration: none;
}
.navbarsection .navbar-toggler{
box-shadow:none;
border:unset;
outline:unset;
}
.navbarsection{
    z-index:1000;
    position:relative;
   
}
.navbarsection .navbar-nav .nav-item .nav-link{
    color:blue;
    transition:all 1s ease-in-out;
    text-transform: uppercase;
    font-size:16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.navbarsection .navbar-nav .nav-item .nav-link:hover,
.navbarsection .navbar-nav .nav-item .nav-link.active{
    color:rgb(207, 103, 11);
}
/* .navbarsection .navbar-nav .nav-item  .nav-link:active{
    color:red;
} */
#mypic{
    min-height:250px;
   width:100%;
    outline:2px solid blue;
    transition:all 1.7s ease-in-out;
    animation:onimage;
    animation-duration:4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes onimage{
    0%{
    transform:translateY(0px);
    transform:rotate(0deg);
    }
   50%{
        transform:translateY(-50px);
        /* transform:rotate(20deg); */
        }
100%{
    transform:translateY(0px);
    transform:rotate(0deg);
}
}
 #home h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color:rgb(201, 55, 55);
}
#home h3{
    font-size:25px;
    color:blue;
    line-height:20px;
}
#home h4{
    font-size: 25px;
    line-height:25px;
}
#home h5{
    color:black;
    font-size:21px;
    line-height:25px;
    padding-top:10px;
}
p{
    font-size: 18px;
    line-height:30px;
}
#home{
    padding-top:100px;
}
#about h3{
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 33px;
    position: relative;
}
#about h3:after{
    content:"";
position: absolute;
display: block;
width:4rem;
height:4px;
background: blue;
bottom:-10px;
left:calc(50% - 1rem);
}
#about .intro p{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.5rem;
}

.resumebtn a{
    color:blue;
    font-weight: bold;
    font-size:21px;
    margin-top:30px;
    padding:20px;
    width:300px;
    border-radius:0px 20px 0px 20px;
    box-shadow:0px 0px 10px;
}
.resumebtn a:hover{
    box-shadow:0px 0px 20px black;
    color:blue;
}
.skillsets{
    border-radius:20px;
}
.skillsets h5{
    position: relative;
    font-size: 2rem;
}
.skillsets h5:after,#projects h5:after{
    content:"";
    position: absolute;
    display: block;
    width:4rem;
    height:4px;
    background: blue;
    bottom:-10px;
    left:calc(49% - 1rem);
}
/* project */
#projects{
    padding-top:40px;
    padding-bottom:20px;
}
#projects h5{
    position: relative;
}
 .image{
    height:auto;
    background-color: black;
    padding:40px;
   
}
    .card{
        background-color: rgb(18, 18, 59);
       height:300px;
        border-radius: 0px 50px 0px 50px;
        transition:all 0.6s ease-in-out;
       
    }
    .card a{
        color:yellow;
        font-weight: bolder;
        font-size:20px;
        text-align:center;
        text-decoration: none;
        padding-top:10px;
    }
    .card:hover{
        transform:translateY(-20px);
    }
    .card p{
        color:white;
        line-height:30px;
        padding:20px;
    }
    #projects #project-heading{
        color:rgb(9, 9, 66);
        font-size:30px;
        font-weight: 600;
        text-transform: capitalize;
    }
    /* about */
   
    .card1{
        height:auto;
        padding:20px;
        border-radius:50px 0px 50px 0px;
        box-shadow:0px 0px 20px;
        transition:all 0.9s ease-in-out ;
    }
    #contact{
        padding-top:30px;
    }
    #contact h4{
        font-size:35px;
        text-transform: capitalize;
        position: relative;
    }
    #contact h4:after{
        content:"";
    position: absolute;
    display: block;
    width:4rem;
    height:4px;
    background: blue;
    bottom:0px;
    left:calc(50% - 1rem);
    }
    #contact .contactme-form{
        box-shadow:0px 0px 10px;
        border-radius:30px 0px 30px 0px;
        cursor:pointer;
        font-size:19px;
    }
    #contact .contactme-form input{
        border:1px solid gray;
    }
    #contact .contactme-form textarea{
        border:1px solid gray;
    }
    #contact .contactme-form input:focus{
        box-shadow: none;
     }
    #contact .contactme-form textarea:focus{
       box-shadow: none;
    }
    ::placeholder{
        font-size: 17px;
        color:gray;
    }
    
/* footer */
 
#footer-section{
    padding-top:30px;
    padding-bottom:30px;

}
.social-media-icon ul li{
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:blue;
    font-size:20px;
    text-align:center;
    border-color:yellow;
    line-height:40px;
}
.fa-whatsapp{
    color:white;
}
.fa-phone
{
    color:white;
}

.fa-envelope{
    color:white;
}
.fa-facebook{
    color:white;
}
#footer p{
font-size: 20px;
}
 /* #footer .social-media-icon ul li a:hover{
   transform:translateY

} */



